*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contain {
    width: 300px;
    margin: 50px auto;
}
.reg-form {
    width: 100%;
}
.reg-form h1 {
    text-align: center;
    font-family: sans-serif;
    margin: 10px 0;
    color: #1276e9;
}
#f-name,#s-name,#email-reg,#pass-reg {
    width: 100%;
    font-size: 20px;
    padding: 5px 0 5px 5px;
    margin: 15px 0;
    border: 2px solid #1276e9;
    border-radius: 5px;
    outline: none;
}
#f-name:focus,#s-name:focus,#email-reg:focus,#pass-reg:focus{
 box-shadow: 0 0 5px #1276e9;
 border: 2px solid transparent;
}
#registr {
    width: 300px;
    margin-top: 20px;
    padding: 15px 30px;
    cursor: pointer;
    background-color: #1276e9;
    color: #fff;
    border: none;
    border-radius: 7px;
}
.email-p,.password-p {
    position: relative;
}
.span-1,.span-2 {
    display: none;
    position: absolute;
    left: 5px;
    bottom: -5px;
    padding: 2px 10px;
    background-color: #ff0000;
    font-family: monospace;
    color: #fff;
}
.open{
    display: block;
} 
.contain a {
   display: block;
   margin-top: 10px;
   font-family: sans-serif;
   color: #1276e9;
}


.container {
    width: 400px;
    margin: 100px auto;
}
.start-form h1 {
    font-family: sans-serif;
    text-align: center;
    color: #008000;
    margin: 20px 0;
}
#start-email,#start-pass{
    width: 100%;
    font-size: 20px;
    padding: 5px 0 5px 5px;
    margin: 15px 0;
    border: 2px solid #008000;
    border-radius: 5px;
    outline: none;;
}
#start-email:focus,#start-pass:focus{
    box-shadow: 0 0 5px #008000;
    border: 2px solid transparent;
}

#start-btn {
    width: 400px;
    margin-top: 20px;
    padding: 10px 30px;
    cursor: pointer;
    background-color: #008000;
    color: #fff;
    border: none;
    border-radius: 7px;
    font-size: 20px;
}
.container a {
    display: block;
    margin-top: 10px;
    font-family: sans-serif;
    color: #008000;
 }

 .sub-container {
    width: 400px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #afb8bb;
    border-radius: 7px;
 }
 .logo {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .logo img {
    width: 30%;
    border-radius: 50%;
    margin: 20px 0;
 }
 .sub-container h2 {
    font-family: sans-serif;
    font-size:20px;
    padding: 10px 0;
 }
 .sing-up {
    width: 50%;
    padding: 10px 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #008000;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
 }